* {
    box-sizing: border-box;
}

html, body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: 'Roboto Mono', monospace;
}

.tooltip {
	background: #222;
	padding: 3px 10px;
	font-size: 0.815em;
	color: #FFF;
	border-radius: 100px 100px 3px 3px;
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
    opacity: 0;
    transform: translate3d(-50%, -100%, 0);
    transition: opacity .3s, transform .3s;
}

.tooltip::after {
	content:'';
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -6px;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: 6px solid #222;
}

.tooltip.visible {
	opacity: 1;
	border-radius: 3px;
	transform: rotateX(0);
}

.is-active {
    opacity: 1;
    transform: translate3d(-50%, calc(-100% - 40px), 0);
}